{% extends "regapp/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
Lisplay - Login
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url={% url 'show_user_profile' user.username %}">
{% else %}

<div class="signup-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('{{ STATIC_URL }}img/login_background.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row" style="margin-top: 5%;">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                            <form class="form" method="post" action=".">
                                {% csrf_token %}
                                <div class="header header-primary text-center">
                                    <h4>Login</h4>
                                </div>
                                <div class="content">
                                    <ul class="errorlist">
                                        {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa fa-user"></i></span>
                                        <input type="text" name="username" id="id_username" class="form-control"
                                               maxlength="30" placeholder="Username..." required autofocus>
                                    </div>
                                    {{ form.username.errors }}
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input type="password" name="password" id="id_password"
                                               placeholder="Password..." class="form-control" required/>
                                    </div>
                                    {{ form.password.errors }}
                                    <!--<input name="next" type="hidden"-->
                                    <!--value="show_user_profile">-->
                                </div>
                                <input name="next" type="hidden" value="/login-redirect/?next={{next}}">
                                <div class="footer text-center">
                                    <button class="btn btn-simple btn-primary btn-lg" type="submit" value="Submit">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                        <p class="description text-center">Forgot password?
                            <a href="{% url 'auth_password_reset' %}">{% trans "Reset it!" %}</a>
                        </p>
                        <p class="description text-center">Not a member?
                            <a href="{% url 'registration_register' %}">{% trans "Register here!" %}</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}