{% extends "regapp/base.html" %}
{% load i18n %}

{% block title %}
Lisplay - Password reset
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

<form class="form-signin" method="post" action=".">
    {% csrf_token %}
    <h3 class="form-signin-heading">Please enter email</h3>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email" id="id_email" class="form-control"
           placeholder="Email" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
        Submit
    </button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
