{% extends "dash/base_dash.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Home{% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="purple" data-image="{% static '/img/sidebar-4.jpg' %}">

    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="{% url 'index' %}" class="simple-text">
            Lisplay
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{% url 'update_profile' %}">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="active">
                <a href="{% url 'creator_details' %}">
                    <i class="material-icons">pie_chart</i>
                    <p>Creator Details</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="{% url 'index' %}">
                    <i class="material-icons">arrow_back</i>
                    <p>Back to profile</p>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form class="form" method="post" enctype="multipart/form-data" action=".">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Edit Profile</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">
                        <div class="row form-group">
                            <h4>Are you a creator?</h4>
                            <p>If yes, turn this on and fill all the required details down below</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group togglebutton">
                                    <label>
                                        <input type="checkbox" name="is_creator" id="id_is_creator"
                                               {% if user.is_creator %}checked{% endif %} required>
                                        This is a creator account
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <h4>Category</h4>
                            <p>Choose a category that best defines your work</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.category }}
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <h4>Short bio</h4>
                            <p>Tell us about work in one small line:</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Short Bio</label>
                                    <input type="text" class="form-control" name="short_bio" id="id_short_bio"
                                           placeholder="Short Bio (e.g. I create music videos and travel vlogs)"
                                           value="{{ user.short_bio }}" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <h4>Profile description</h4>
                            <p>Please write a detailed description about what you do</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Profile description</label>
                                    <textarea class="form-control" rows="3" name="profile_description"
                                              id="id_profile_description"
                                              required>{{ user.profile_description }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <h4>Featured Text</h4>
                            <p>Tell your fans about your current and future plans/goals and how their
                                financial support is going to help you</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Featured text</label>
                                    <textarea class="form-control" rows="3" name="featured_text" id="id_featured_text"
                                              required>{{ user.featured_text }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <h4>Featured Video <span class="text-gray"> (optional)</span></h4>
                            <p>Enter a YouTube link. The video will be featured on your profile.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Featured video link</label>
                                    <input type="url" class="form-control" name="featured_video" id="id_featured_video"
                                           value="{{ user.featured_video }}"/>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-round btn-lg pull-right">
                            Update Profile
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <a href="#pablo">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="/media/{{ user.thumbnail }}"/>
                    </div>
                    <div class="content">
                        <p class="text-muted">{{ "@"|add:user.username }}</p>
                        <h4 class="card-title">{{ user.full_name }}</h4>
                        <h6 class="category text-gray">{{ user.short_bio }}</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}