{% extends "dash/base_dash.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Dashboard{% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="purple" data-image="{% static 'img/sidebar-2.jpg' %}">

    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="{% url 'index' %}" class="simple-text">
            Lisplay
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{% url 'update_profile' %}">
                    <i class="fa fa-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a href="{% url 'creator_details' %}">
                    <i class="fa fa-pie-chart"></i>
                    <p>Creator Details</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="{% url 'show_user_profile' user.username %}">
                    <i class="fa fa-arrow-left"></i>
                    <p>Back to profile</p>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<script src="{% static 'dash/js/jquery-3.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'dash/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function($){
        $('[data-toggle="popover"]').popover();
    });



</script>

<div class="container-fluid">
    {% if user.is_authenticated and user.is_creator %}

    <!--Cards with quick numbers-->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="fa fa-group"></i>
                </div>
                <div class="card-content">
                    <p class="category">Active Supporters</p>
                    <h3 class="title">{{ current_subscribers_count }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats" data-placement="right" title="Active Supporters" data-toggle="popover"
                         data-content="This is the number of users who have a currently active subscription to you as of today.">
                        <a href="#">What's this?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="fa fa-usd"></i>
                </div>
                <div class="card-content">
                    <p class="category">This Month Revenue</p>
                    <h3 class="title">&#8377; {{ this_month_revenue }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats" data-placement="right" title="Monthly Revenue" data-toggle="popover"
                         data-content="This is the amount of total funds received for you this month so far.
                         We'll transfer the total subscription amount (after taking 5% and transaction charges) to you
                         within the first week of next month.">
                        <a href="#">What's this?</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="fa fa-user-plus"></i>
                </div>
                <div class="card-content">
                    <p class="category">Supporters Joined</p>
                    <h3 class="title">{{ joined_this_month }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="fa fa-calendar-o"></i> This Month Only
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="fa fa-minus-circle"></i>
                </div>
                <div class="card-content">
                    <p class="category">Supporters Left</p>
                    <h3 class="title">{{ left_this_month }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="fa fa-calendar-o"></i> This Month Only
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End: Cards with quick numbers-->
    <br/>

    <!--Supporter stats-->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card card-nav-tabs">
                <div class="card-header" data-background-color="orange">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Supporters:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="active">
                                    <a href="#active_subscribers" data-toggle="tab">
                                        <i class="fa fa-group"></i>
                                        Active
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#cancelled_subscribers" data-toggle="tab">
                                        <i class="fa fa-minus-circle"></i>
                                        Cancelled
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="active_subscribers">
                            <div class="card-content table-responsive">
                                {% if subscribers %}
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Monthly</th>
                                    <th>Total</th>
                                    <th>Started at</th>
                                    </thead>
                                    <tbody>
                                    {% for subscription in subscribers %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a target="_blank"
                                               href="{% url 'show_user_profile' subscription.subscriber %}">
                                            {{ subscription.subscriber }}</a></td>
                                        <td>&#8377; {{ subscription.amount }}</td>
                                        <td>&#8377;
                                            {{subscription.amount|get_total_payment:subscription.paid_count}}
                                        </td>
                                        <td>{{ subscription.created_at|date:"M d, o" }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <h5 class="text-gray">Looks like your fans don't know that you're on Lisplay.</h5>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane" id="cancelled_subscribers">
                            <div class="card-content table-responsive">
                                {% if subscribers_cancelled %}
                                <table class="table table-hover">
                                    <thead class="text-danger">
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Monthly</th>
                                    <th>Started at</th>
                                    <th>Cancelled at</th>
                                    </thead>
                                    <tbody>
                                    {% for subscription in subscribers_cancelled %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a target="_blank"
                                               href="{% url 'show_user_profile' subscription.subscriber %}">
                                            {{ subscription.subscriber }}</a></td>
                                        <td>&#8377; {{ subscription.amount }}</td>
                                        <td>{{ subscription.created_at|date:"M d, o" }}</td>
                                        <td>{{ subscription.ended_at|date:"M d, o" }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                {% if subscribers %}
                                <h5 class="text-gray">No supporter has unsubscribed you so far.
                                    Awesome!</h5>
                                {% else %}
                                <h5 class="text-gray">Let's hope that this section always remains empty.
                                    Good luck!</h5>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End: Supporter stats-->

    {% else %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Dashboard</h4>
                    <p class="category">This dashboard is available only for registered creators</p>
                </div>
                <div class="card-content">
                    <div class="row form-group">
                        <h4>Are you a creator yourself?</h4>
                        <a href="{% url 'creator_details' %}">
                            <p>Enter your creator details and start earning!</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!--User Card-->
        <div class="col-md-4">
            <a href="{% url 'show_user_profile' user.username %}">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{{ user.thumbnail.url }}"/>
                    </div>
                    <div class="content">
                        <h4 class="card-title">{{ user.full_name }}</h4>
                        <p class="text-muted">{{ "@"|add:user.username }}</p>
                        <h6 class="category text-gray">{{ user.short_bio }}</h6>
                    </div>
                </div>
            </a>
        </div>
        <!--End: User Card-->
    </div>
    {% endif %}
</div>

{% endblock %}