{% extends "regapp/base.html" %}
{% load i18n %}

{% block title %}
Lisplay - Sign up
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url={% url 'show_user_profile' user.username %}">
{% else %}

<div class="signup-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('{{ STATIC_URL }}img/city.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row" style="margin-top: 5%;">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                            <form class="form" method="post" action=".">
                                {% csrf_token %}
                                <div class="header header-primary text-center">
                                    <h4>Sign Up</h4>
                                </div>
                                <div class="content">
                                    <ul class="errorlist">
                                        {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" name="username" id="id_username" class="form-control"
                                               maxlength="30" pattern="[A-Za-z0-9]+" placeholder="Username..."
                                               title="Use only lowercase letters and numbers for Username"
                                               value="{{ form.username.value|default_if_none:'' }}" required autofocus>
                                    </div>
                                    {{ form.username.errors }}

                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa fa-envelope-open"></i></span>
                                        <input type="email" name="email" id="id_email" class="form-control"
                                               maxlength="75" placeholder="Email..."
                                               value="{{ form.email.value|default_if_none:'' }}" required>
                                    </div>
                                    {{ form.email.errors }}

                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="fa fa-lock"></i></span>
                                        <input type="password" name="password1" id="id_password1" minlength="8"
                                               placeholder="Password..." class="form-control" required/>
                                    </div>
                                    {{ form.password1.errors }}

                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="fa fa-lock"></i></span>
                                        <input type="password" name="password2" id="id_password2" minlength="8"
                                               placeholder="Password confirmation..."
                                               class="form-control" required/>
                                    </div>
                                    {{ form.password2.errors }}

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes" required>
                                            I agree to the <a href="{% url 'terms_of_use' %}">Terms & Services</a>
                                        </label>
                                    </div>
                                </div>

                                <div class="footer text-center">
                                    <button class="btn btn-simple btn-primary btn-lg" type="submit" value="Submit">
                                        Get Started
                                    </button>
                                </div>
                            </form>
                        </div>
                        <p class="description text-center">Already a member?
                            <a href="{% url 'account_login' %}">{% trans "Login here!" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}