{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - About Us{% endblock %}

{% block content %}

<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('{{ STATIC_URL }}img/examples/about.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">About Us</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="description">WHO ARE WE?</h4>
                        We are a bunch of coders, fascinated by the creativity we witness in people.
                        So we have combined our skills with our passion, to unite the enchanters and provide them
                        a platform to showcase their talents and sustain their art.
                        <br/>
                        <br/>
                        <h4 class="description">WHY LISPLAY?</h4>
                        The reason we launched Lisplay, is that we wondered and questioned our inner conscious - can
                        we help the creators, the dreamers, people who don't believe that there exists a box to
                        think outside of? Can we entice people to follow their passions, and excel in the things
                        they are good at and also love doing? Is it even possible?
                        <br/>
                        <br/>
                        <h4 class="description">THE BEGINNING.</h4>
                        Our Journey started with a simple Android app, which made it easier for people to discover
                        and watch YouTube videos from independent creators. While it wasn't a breath taking success,
                        it gave us a valuable insight to ponder over. We started by eliminating irrelevant options.
                        We realized that the problem was not what we initially thought to be, but something more
                        deep-rooted within our society. We changed course and did enhanced market research, while
                        working closely with people who wish to showcase their talent to the world. We learned from
                        the huddles they faced, and how they overcame the hiccups.
                        <br/>
                        <br/>
                        <h4 class="description">THE PROBLEM.</h4>
                        If we ignore the people who are in leading their respective fields, it's almost always hard
                        to make ends meet. Generate enough revenue to support themselves and their art. We call them
                        independent artist, but are they truly independent? With this insight, we set out to solve
                        the problem.
                        <br/>
                        <br/>
                        <h4 class="description">THE SOLUTION.</h4>
                        Money might be the root of all evil, but this root is important if you wish to grow. For the
                        artists to grow and enhance their art, generating sustainable and reliable revenue is
                        paramount. After much brainstorming, crowdfunding in the form of a membership program
                        gripped our attention the most. You may render your opinions with alternatives, advertisements
                        or paid promotions, but the problem is that those revenue sources are never reliable and not
                        ideally suited for people new in the field. They promote quantity over quality, and in the end
                        the artists have to compromise with what they truly want to create. We always believe that there
                        is no limit to what a human brain is capable of, and if restricted it won't accomplish miracles.
                        <br/>
                        <br/>
                        <h4 class="description">EPILOGUE.</h4>
                        With Lisplay, creators and admirers take matters in their own hands. We admit that this is
                        not perfect solution, but perfect is boring. The imperfection in life is what we cherish and
                        enjoy the most. We aren't trying to enhance their work or judge, we just wish them to be
                        truly independent.
                        <br/>
                        Some people might doubt our approach but we don't. Do you know why? Because the only thing
                        common we observed in every artist as their answer to the question - who do you trust to
                        support you, no matter what - was Fans.

                        <br/>
                        <br/>
                        <hr/>
                        <h4 class="text-center">Want to know more?</h4>
                        <p class="description text-center" style="margin-top:0;">Feel free to contact us via
                            social media or email. The links are below.</p>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}