{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - About Us{% endblock %}

{% block content %}

<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('{{ STATIC_URL }}img/examples/about.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">About Us</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="description text-center">---------- OUR STORY ----------</h4>
                        <hr/>
                        <p>We are a bunch of coders who are really fascinated by the creativity of people all over the
                            world. This fascination and our interest in experimenting with things led us to question
                            ourselves - can we help those creators in any
                            possible way? Can we make it easier for them to do the stuff they love to do? We started by
                            developing a simple Android app which made it easier for people to discover and watch
                            YouTube videos from independent creators. While the app didn't take off, having closely
                            followed those creators and talking to some of them, we realized that the problem is not
                            what we thought it was.
                            <br/>
                            <br/>
                            If we ignore the few top players, for creators it's almost always
                            hard to generate enough revenue to support themselves and their art. We always call them
                            independent creators but are they truly independent?
                            With this insight, we set out to solve the problem of generating sustainable and reliable
                            revenue for independent creators. After much brainstorming and talking to a number of
                            people, voluntary payment from supporters made much more sense than any other option.
                            You may think about alternatives like making money from advertisements or paid promotions
                            but the problem is that those revenue sources are never reliable. They promote quantity over
                            quality and creators always have to make some compromises in their art. Not anymore. With
                            the help of what we're building here, creators and their fans can now take matters in their
                            own hands. We admit that this is not perfect solution but this does bring creators very
                            close to being truly independent.
                            <br/>
                            <br/>
                            Some people may have doubts about what we're doing here but we don't. Do you know why?
                            Whenever we asked a creator about who do they trust most to support them no matter what,
                            "their fans" was the only answer we got.
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}