{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Payment{% endblock %}

{% block content %}

<style>
    .razorpay-payment-button {
      border: none;
      color: #ffffff;
      border-radius: 30px;
      position: relative;
      background-color: #f44336;
      margin: 10px 1px;
      font-size: 14px;
      padding: 18px 40px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0;
      will-change: box-shadow, transform;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }


</style>

<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('{{ STATIC_URL }}img/examples/city.jpg');">
            {% if error %}
            <div data-notify="container"
                 class="col-xs-11 col-sm-4 alert alert-danger alert-with-icon animated fadeInDown"
                 role="alert" data-notify-position="top-right"
                 style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out; z-index: 1031; top: 20px; right: 20px;">
                <button type="button" class="close" aria-hidden="true" data-notify="dismiss"
                        data-dismiss="alert" aria-label="Close"
                        style="position: absolute; right: 10px; top: 50%; margin-top: -13px; z-index: 1033;">
                    <i class="fa fa-close"></i>
                </button>
                <div class="alert-icon">
                    <i data-notify="icon" class="fa fa-warning"></i>
                </div>
                <!--<span data-notify="title"></span>-->
                <span data-notify="message">{{ error }}</span>
            </div>
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">Pledge confirmation</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1" style="padding-bottom: 40px;">
                        <h3>Confirm you pledge to {{ creator }}</h3>
                        <h5>Rs. {{ amount }} per month</h5>
                        <hr/>
                        <p>user_profile.featured_textBecome a member of club 2 by pledging any two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to usBecome a member of club 2 by pledging any
                            two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to usBecome a member of club 2 by pledging any
                            two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to usBecome a member of club 2 by pledging any
                            two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to us</p>
                    </div>
                    <div class="col-md-4 col-md-offset-1" style="margin-top: 40px;">
                        <div class="card card-signup">
                            <div class="header header-primary text-center">
                                <h4>Payment Summary</h4>
                            </div>
                            <div class="content" style="padding-bottom: 10px; padding-top: 10px; margin-left: 20px;">
                                <h5 style="color:#666"><b>Today's charge:</b> Rs. {{ amount }}/-</h5>
                                <hr/>
                                <p>You'll be charged Rs. {{ amount }} now and then the same
                                    amount on the 1st of every month going forward.</p>
                                <p>You can cancel your pledge at any time. By making this
                                    pledge, you agree to <a href="#">Lisplay's Terms of Services.</a></p>
                            </div>
                            <div class="footer text-center">
                                <form action="/thank-you/" method="POST">
                                    {% csrf_token %}
                                    <!-- Note that the amount is in paise. Amount 100 = 1 INR -->
                                    <script
                                            src="https://checkout.razorpay.com/v1/checkout.js"
                                            data-key="{{ key }}"
                                            data-amount="{{ amount }}00"
                                            data-subscription_id="{{ subscription_id }}"
                                            data-buttontext="Pay with Razorpay"
                                            data-name="Lisplay"
                                            data-description="Purchase Description"
                                            data-image="https://lh3.googleusercontent.com/03_kq2L8zzV4AjxEz52j49gVQm4dOnws5gPC1XpWA_ZnbGHfl0M2IhkB5MJdwmTBUjM=w300"
                                            data-theme.color="#9c27b0"
                                            data-notes.creator="{{ creator }}"
                                            data-notes.subscriber="{{ user.username }}"
                                    ></script>
                                    <input type="hidden" value="Hidden Element" name="hidden">
                                </form>
                            </div>
                            <div class="footer text-center" style="margin-bottom: 10px;">
                                <button class="btn btn-info btn-lg btn-round" type="submit" value="Submit"
                                        style="padding-left: 55px; padding-right: 55px;">
                                    Pay with paytm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}