{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Creators{% endblock %}

{% block content %}


<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url({{ background }});">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">Explore Creators</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="nav-align-center">
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            {% for creator in creators_part_1 %}
                                            <a href="{% url 'show_user_profile' creator.username %}">
                                                <img src="{{ creator.picture.url }}" alt="{{ creator.username }}"
                                                     class="img-rounded img-responsive">
                                                <h4>{{ creator.first_name }}</h4>
                                                <h6 class="text-muted">{{ creator.short_bio|upper }}</h6>
                                            </a>
                                            <br/>
                                            <br/>
                                            {% endfor %}

                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            {% for creator in creators_part_2 %}
                                            <a href="{% url 'show_user_profile' creator.username %}">
                                                <img src="{{ creator.picture.url }}" alt="{{ creator.username }}"
                                                     class="img-rounded img-responsive">
                                                <h4>{{ creator.first_name }}</h4>
                                                <h6 class="text-muted">{{ creator.short_bio|upper }}</h6>
                                            </a>
                                            <br/>
                                            <br/>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <br/>
                            <hr/>
                            {% if creators_part_1|length > 0 %}
                            <ul class="pagination pagination-primary">
                                {% for i in 1|range:total_pages %}
                                {% if i == page %}
                                <li class="active"><a href="{% url 'explore_creators' 'all' i %}">{{ i }}</a></li>
                                {% else %}
                                <li><a href="{% url 'explore_creators' 'all' i %}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}