{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - FAQ{% endblock %}

{% block content %}

<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('https://images.unsplash.com/photo-1484069560501-87d72b0c3669?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">FAQ</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="profile-tabs">
                            <div class="header header-primary">
                                <div class="nav-align-center">
                                    <br/>
                                    <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                        <li class="active">
                                            <a href="#supporters" role="tab" data-toggle="tab">
                                                <i class="material-icons">dashboard</i>
                                                Supporters
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#creators" role="tab" data-toggle="tab">
                                                <i class="material-icons">list</i>
                                                Creators
                                            </a>
                                        </li>
                                    </ul>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="supporters">
                                        <h5 class="text-primary">What is Lisplay?</h5>
                                        <p> Lisplay is a monthly subscription based crowdfunding platform for
                                            independent creators. Through Lisplay, you can provide financial help to
                                            your favourite creators. Direct help from their fans means that creators
                                            won’t have to do jobs on the side or chase sponsors/advertisers. With your
                                            help they can keep doing what they love to do and you get to enjoy their
                                            creations and satisfaction of knowing that you made a difference.</p>
                                        <br/>

                                        <h5 class="text-primary">What can I do on Lisplay?</h5>
                                        <p>If you love the work of some YouTubers, bloggers or simply any kind of
                                            creator, you can support their work financially through Lisplay in the form
                                            of a monthly subscription. Just find your favorite creators on Lisplay and
                                            subscribe to them.</p>
                                        <br/>

                                        <h5 class="text-primary">What if my favourite creator in not on Lisplay?</h5>
                                        <p>Let them know through on social media that you'd like to support them on
                                            Lisplay. You can also tell us which creators you want on Lisplay and we'll
                                            do our best to invite them. You can contact us through social media or email
                                            <a href="mailto:support@lisplay.com?Subject=Creator Invite">support@lisplay.com</a>
                                        </p>
                                        <br/>

                                        <h5 class="text-primary">Why should I pay for content which I can access for
                                            free?</h5>
                                        <p>To keep receiving that content for free. Contrary to the popular belief,
                                            being a full time creator is not easy at all. Apart from being creative
                                            almost all the time, creators also have to worry about finances. Now, if
                                            their fans start to support them directly, they won't have to chase down
                                            advertisers and sponsors. They can simply be a full time creator, create the
                                            content you love and everyone lives happily ever after.</p>
                                        <br/>

                                        <h5 class="text-primary">How do I start?</h5>
                                        <p>It's quite easy. Just create an account on Lisplay, search your favourite
                                            creator, go to their page follow the steps mentioned.</p>
                                        <br/>

                                        <h5 class="text-primary">What payment options are supported?</h5>
                                        <p>For subscriptions on Lisplay, we are currently able to support
                                            payments only by credit cards. But more payment options are coming very
                                            soon. Promise.</p>
                                        <br/>

                                        <h5 class="text-primary">Do I get anything in return for ?</h5>
                                        <p>Yes, of course! Apart from your own satisfaction, you get eternal gratitude
                                            from creators and entire Lisplay team. :D</p>
                                        <br/>

                                        <h5 class="text-primary">Is there any refund option?</h5>
                                        <p>We have a strict NO REFUND policy. Once we receive the payment, we'll be
                                            unable to credit it back to you. However, you can cancel your subscriptions
                                            anytime you want.</p>
                                        <br/>

                                    </div>

                                    <div class="tab-pane" id="creators">
                                        <h5 class="text-primary">What is Lisplay?</h5>
                                        <p>Lisplay is a monthly subscription based crowdfunding platform for independent
                                            creators. As a creator you can register on Lisplay and ask your fans to
                                            voluntarily pay you a monthly subscription. This way you’ll have more time
                                            and resources to focus on the work you love to do instead of chasing
                                            advertisers and sponsors and worry about revenue all the time.
                                        </p>
                                        <br/>

                                        <h5 class="text-primary">Why will anyone pay for the content which is already
                                            free?</h5>
                                        <p>Why do your fans do anything that you request them to do? If they want, they
                                            can just watch your videos, listen to your music, read your blogs and just
                                            move on. But no. They take time to do things for your benefit because they
                                            believe that you deserve it. It's time that you start believing that too.
                                            Besides, we'll never know until and unless we try.</p>
                                        <br/>

                                        <h5 class="text-primary">How do I get started on Lisplay as a creator?</h5>
                                        <p>Sign up on Lisplay and fill all the details required for a creator account.
                                            That's it. Now you can start requesting your fans to support you on
                                            Lisplay. We'll transfer your share of earnings at the end of each month. We
                                            also do verifications to make sure that the money is going to the right
                                            person.</p>
                                        <br/>

                                        <h5 class="text-primary">How do I get the money and when?</h5>
                                        <p>We start to transfer money to creators at end of each month and it takes
                                            about a week. To make sure that the money is going to the right person, we
                                            do a thorough verification of creators before we transfer them any
                                            money. We'll contact you for the verification process.</p>
                                        <br/>

                                        <h5 class="text-primary">What do I need to do for my supporters on Lisplay?</h5>
                                        <p>Supporters are paying you voluntarily so there's no mandatory service that
                                            you need to provide. But, we still suggest doing something nice for your
                                            supporters. You can start with showing your gratitude to individual
                                            supporters on social media. They'd most certainly like that.</p>
                                        <br/>
                                    </div>
                                </div>
                                <hr/>
                                <h4 class="text-center">More questions?</h4>
                                <p class="description text-center" style="margin-top:0;">Feel free to contact us via
                                    social media or email. The links are below.</p>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}