{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - FAQ{% endblock %}

{% block content %}

<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('https://images.unsplash.com/photo-1484069560501-87d72b0c3669?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">FAQ</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="profile-tabs">
                            <div class="header header-primary">
                                <div class="nav-align-center">
                                    <br/>
                                    <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                        <li class="active">
                                            <a href="#creators" role="tab" data-toggle="tab">
                                                <i class="fa fa-pie-chart"></i>
                                                Creators
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#supporters" role="tab" data-toggle="tab">
                                                <i class="fa fa-heart"></i>
                                                Supporters
                                            </a>
                                        </li>
                                    </ul>
                                    <br/>
                                    <hr/>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="creators">
                                        <h5 class="text-primary">What is Lisplay?</h5>
                                        <p>Lisplay allows independent creators to get paid by running a membership
                                            program and connect with their fans. Register on Lisplay as a creator. After
                                            that your fans can join your membership program by paying a small monthly
                                            subscription fees. This way your fans will get a chance to support your work
                                            and you’ll have more time and resources to focus on the work you love to do
                                            instead of chasing advertisers and sponsors and worry about revenue all the
                                            time.
                                        </p>
                                        <br/>

                                        <h5 class="text-primary">Why will anyone pay if my content is already free for
                                            everyone?</h5>
                                        <p>Why do your fans do anything that you request them to do? If they want, they
                                            can just watch your videos, listen to your music, read your blogs and just
                                            move on. But no. They take time to do things for your benefit because they
                                            believe that you deserve it. It's time that you start believing that too.
                                            Besides, you'll never know until and unless you try.</p>
                                        <br/>

                                        <h5 class="text-primary">What do I need to do for my supporters on Lisplay?</h5>
                                        <p>Supporters are paying you voluntarily so rewarding them is not
                                            mandatory but it's highly recommended. You can reward them by thanking them
                                            on social media, providing them exclusive content and sneak peaks, chatting
                                            with and even meeting them in person if possible. You decide the rewards so
                                            it's totally up to you.</p>
                                        <br/>

                                        <h5 class="text-primary">Do I need to post my content on Lisplay?</h5>
                                        <p>Not at all. Lisplay is a payment platform, not a social media platform. You
                                            keep posting your content on platform(s) of your choice. Lisplay will help
                                            you with running your membership program, handling payments and connecting
                                            with your supporters.</p>
                                        <br/>

                                        <h5 class="text-primary">How do I get started on Lisplay as a creator?</h5>
                                        <p>Sign up on Lisplay and fill all the details required for a creator account.
                                            That's it. Once the registration process is complete, your fans can start
                                            paying you on Lisplay. Don't forget to share this good news with them.</p>
                                        <br/>

                                        <h5 class="text-primary">How do earnings get distributed?</h5>
                                        <p>Creators get 90% of the total payment made to them. Transaction charges
                                            averages to 5% and we take the rest of the 5% as our fees. Please note that
                                            even if transaction charges are more of less than 5%, creators still get
                                            their 90%.</p>
                                        <br/>

                                        <h5 class="text-primary">How do I get the money and when?</h5>
                                        <p>We start to transfer money to creators at end of each month and it takes
                                            about a week. We'll inform you in advance if there's any delay. To make sure
                                            that the money is going to the right person, we do a thorough verification
                                            of creators before we transfer them any money. We'll contact you for the
                                            verification process.</p>
                                        <br/>

                                        <h5 class="text-primary">Does Lisplay have an app?</h5>
                                        <p>Our app will be available soon. Using our app, you will be able to share your
                                            exclusive content and connect with your fans. Stay tuned.</p>
                                        <br/>

                                    </div>

                                    <div class="tab-pane" id="supporters">
                                        <h5 class="text-primary">What is Lisplay?</h5>
                                        <p> Lisplay allows independent creators to get paid by running a membership
                                            program and connect with their fans. Through Lisplay, you can provide
                                            financial help to your favourite creators. Direct help from their fans means
                                            that creators won’t have to do jobs on the side or chase
                                            sponsors/advertisers. With your help they can keep doing what they love to
                                            do and you get to enjoy their creations and satisfaction of knowing that you
                                            made a difference.</p>
                                        <br/>

                                        <h5 class="text-primary">What can I do on Lisplay?</h5>
                                        <p>Are there any YouTubers, musicians, bloggers, tutorial makers or simply any
                                            kind of content creator on Internet whom you really love? Would you like to
                                            support them so they can keep doing what they do? Yes? Then you're on the
                                            right platform. You can join the membership program of your favourite
                                            creators and pay them a monthly amount using Lisplay. It's that simple.</p>
                                        <br/>

                                        <h5 class="text-primary">Why should I pay for content which I can access for
                                            free?</h5>
                                        <p>To keep receiving that content for free. Contrary to the popular belief,
                                            being a full time creator is not easy at all. Apart from being creative
                                            almost all the time, creators also have to worry about finances. Now, if
                                            their fans start to support them directly, they won't have to chase down
                                            advertisers and sponsors. They can simply be a full time creator, create the
                                            content you love and everyone lives happily ever after.</p>
                                        <br/>

                                        <h5 class="text-primary">Do I get anything in return?</h5>
                                        <p>Fans pay voluntarily on Lisplay so rewarding them is up to the individual
                                            creator. Check their Lisplay page to know more about the rewards they
                                            offer. Creators can reward their supporters by providing them exclusive
                                            content, sneak peaks, chatting with them or even meeting them in person if
                                            possible.</p>
                                        <br/>

                                        <h5 class="text-primary">How much do I have to pay?</h5>
                                        <p>Minimum amount that you can pay is Rs. 10 and maximum is Rs. 9999. Lisplay
                                            is a voluntary payment platform so you choose the amount you want to pay.
                                            Please note that you can cancel your subscription any time you want and we
                                            don't offer any refunds.</p>
                                        <br/>

                                        <h5 class="text-primary">What if my favourite creator in not on Lisplay?</h5>
                                        <p>Let them know through social media that you'd like to support them on
                                            Lisplay. You can also tell us which creators you want on Lisplay and we'll
                                            do our best to invite them. You can contact us through social media or email
                                            <a href="mailto:support@lisplay.com?Subject=Creator Invite">support@lisplay.com</a>
                                        </p>
                                        <br/>

                                        <h5 class="text-primary">How do I start?</h5>
                                        <p>It's quite easy. Just create an account on Lisplay, search your favourite
                                            creator, go to their page and follow the steps mentioned on the website.</p>
                                        <br/>

                                        <h5 class="text-primary">What payment options are supported?</h5>
                                        <p>For subscriptions on Lisplay, we are currently able to support
                                            payments only by credit cards. But more payment options are coming
                                            soon. Promise.</p>
                                        <br/>

                                        <h5 class="text-primary">Is there any refund option?</h5>
                                        <p>We have a strict NO REFUND policy. Once we receive the payment, we'll be
                                            unable to refund it. However, you can cancel your subscriptions
                                            anytime you want.</p>
                                        <br/>

                                        <h5 class="text-primary">Does Lisplay have an app?</h5>
                                        <p>Our app will be available soon. Using our app, you will be able to connect
                                            with the creators that you're supporting and see the exclusive content they
                                            share for their supporters. Stay tuned.</p>
                                        <br/>

                                    </div>
                                </div>
                                <hr/>
                                <h4 class="text-center">More questions?</h4>
                                <p class="description text-center" style="margin-top:0;">Feel free to contact us via
                                    social media or email. The links are below.</p>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}