{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Home{% endblock %}

{% block content %}

<div class="landing-page">

    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99');
              background-size: cover; transform: translate3d(0px, 0px, 0px);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="title">CREATE AMAZING THINGS. TOGETHER.</h1>
                        <h4>Lisplay is a subscription based crowd-funding platform for independent creators. It makes
                            independent artists, with the help of their fans, truly independent.</h4>
                        <br/>
                        <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"-->
                           <!--class="btn btn-danger btn-round btn-raised btn-lg">-->
                            <!--<i class="fa fa-play"></i> Watch video-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <div class="section text-center section-landing">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">ARE YOU A CREATOR?</h2>
                            <h5 class="description">Lisplay is the platform for you to harness the power and support of
                                your fans.</h5>
                        </div>
                    </div>

                    <div class="features" style="padding-top:2em;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="material-icons">person</i>
                                    </div>
                                    <h4 class="info-title">REGISTER</h4>
                                    <p>Register yourself on Lisplay as a creator without any registration charges.
                                        Explain what you do and how you're going to use the funds provided by your
                                        fans.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="material-icons">public</i>
                                    </div>
                                    <h4 class="info-title">PUBLICIZE</h4>
                                    <p>Once you have created you page, post it on social media platforms and let your
                                        fans know how they can support you and your creations through Lisplay.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="material-icons">attach_money</i>
                                    </div>
                                    <h4 class="info-title">EARN</h4>
                                    <p>Get a reliable revenue stream by your fans as monthly subscriptions. You'll be
                                        surprised to know how many people out there are willing to help you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section text-center"
                     style="padding-left:5em; padding-right:5em; background: #efefef">
                    <!--background-image: url('https://images.unsplash.com/photo-1489556222275-c026a4c4142b');-->
                    <!--background-size: cover; background-attachment: fixed;">-->
                    <h2 class="title">NO HIDDEN CHARGES</h2>
                    <h5 class="description">This is how the earnings get distributed.</h5>
                    <div class="row" style=" margin-top: 5em;">
                        <div class="col-md-4">
                            <h4 class="info-title" style="float: left;">You keep 90%</h4>
                        </div>
                        <div class="col-md-4" style="float: right; margin-right: 5%">
                            <h4 class="info-title" style="float: right;">We keep 5%</h4>
                        </div>
                    </div>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar progress-bar-danger" style="width: 90%;">
                            <span class="sr-only">90%</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: 5%">
                            <span class="sr-only">5%</span>
                        </div>
                        <div class="progress-bar progress-bar-info" style="width: 5%">
                            <span class="sr-only">5%</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="float: right;">
                            <h4 class="info-title" style="float: right;">Transaction fees average 5%</h4>
                        </div>
                    </div>
                </div>

                <div class="section text-center">
                    <h2 class="title">LOOK WHO HAS JOINED US</h2>

                    <div class="team">
                        <div class="row">
                            {% for key, featured_user in featured_list.items %}
                            <div class="col-md-4">
                                <div class="team-player">
                                    <a href="{% url 'show_user_profile' featured_user.username %}">
                                        <img src="/media/{{ featured_user.thumbnail }}" alt="Thumbnail Image"
                                             class="img-raised img-circle">
                                        <h4 class="title">{{ featured_user.full_name }}<br/>
                                            <small class="text-muted">{{ featured_user.short_bio }}</small>
                                        </h4>
                                    </a>
                                    {% if featured_user.social_links|get_item:'facebook_details,facebook_link' %}
                                    <a href="{{ featured_user.social_links|get_item:'facebook_details,facebook_link' }}"
                                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                        <i class="fa fa-facebook"></i></a>
                                    {% endif %}
                                    {% if featured_user.social_links|get_item:'twitter_details,twitter_link' %}
                                    <a href="{{ featured_user.social_links|get_item:'twitter_details,twitter_link' }}"
                                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                        <i class="fa fa-twitter"></i></a>
                                    {% endif %}
                                    {% if featured_user.social_links|get_item:'instagram_details,instagram_link' %}
                                    <a href="{{ featured_user.social_links|get_item:'instagram_details,instagram_link' }}"
                                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                        <i class="fa fa-instagram"></i></a>
                                    {% endif %}
                                    {% if featured_user.social_links|get_item:'youtube_details,youtube_link' %}
                                    <a href="{{ featured_user.social_links|get_item:'youtube_details,youtube_link' }}"
                                       target="_blank" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-youtube-play"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <a href="{% url 'show_creators' 'all' %}">
                            <button class="btn btn-primary btn-raised btn-lg btn-round">
                                See all creators
                            </button>
                        </a>
                    </div>
                </div>
                <br/>
                <br/>
            </div>

        </div>

    </div>
</div>

{% endblock %}