{% extends "regapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<!--Index page

{% if creator_list %}
<ul>
    {% for creator in creator_list %}
    <li><a href="{% url 'show_user_profile' creator.username %}">{{ creator.username }}</a></li>
    {% endfor %}
</ul>
{% endif %} -->

<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"
     style="background-image: url(/static/images/full_1.jpg);">
		  	<span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
				<a href="#">
					<span class="mouse"><span></span></span>
				</a>
			</span>
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="col-md-push-6 col-md-6 full-height js-full-height">
                    <div class="fh5co-cover-intro">
                        <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Create
                            Amazing Things</h1>
                        <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far
                            far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                            the Semantics.</h2>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a
                                href="http://freehtml5.co/" class="btn btn-primary btn-outline btn-lg">See Our
                            Work</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
