{% extends "regapp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<!--Index page

{% if creator_list %}
<ul>
    {% for creator in creator_list %}
    <li><a href="{% url 'show_user_profile' creator.username %}">{{ creator.username }}</a></li>
    {% endfor %}
</ul>
{% endif %} -->

<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"
     style="background-image: url(/static/images/full_1.jpg);">
		  	<span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
				<a href="#">
					<span class="mouse"><span></span></span>
				</a>
			</span>
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="col-md-push-6 col-md-6 full-height js-full-height">
                    <div class="fh5co-cover-intro">
                        <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Create
                            Amazing Things</h1>
                        <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far
                            far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                            the Semantics.</h2>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a
                                href="http://freehtml5.co/" class="btn btn-primary btn-outline btn-lg">See Our
                            Work</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fh5co-project-style-2">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Are you a
                    creator?</h2>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word
                    mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated
                    they live in Bookmarksgrove right at the coast of the Semantics.</p>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="#"
                                                                                        class="btn btn-success btn-lg">Register
                    Today</a></p>
            </div>
        </div>
    </div>
    <div class="fh5co-projects">
        <ul>
            <li class="wow fadeInUp" style="background-image: url(/static/images/full_4.jpg);"
                data-wow-duration="1s"
                data-wow-delay="1.4s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6"><h3>Step 1</h3></div>
                                    <div class="col-md-6"><p>Far far away, behind the word mountains, far from the
                                        countries Vokalia and Consonantia, there live the blind texts.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="wow fadeInUp" style="background-image: url(/static/images/full_2.jpg);"
                data-wow-duration="1s"
                data-wow-delay="1.7s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6"><h3>Step 2</h3></div>
                                    <div class="col-md-6"><p>Far far away, behind the word mountains, far from the
                                        countries Vokalia and Consonantia, there live the blind texts.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="wow fadeInUp" style="background-image: url(/static/images/full_1.jpg)" data-wow-duration="1s"
                data-wow-delay="2s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6"><h3>Step 3</h3></div>
                                    <div class="col-md-6"><p>Far far away, behind the word mountains, far from the
                                        countries Vokalia and Consonantia, there live the blind texts.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="fh5co-blog-style-1">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Look who has joined
                    us</h2>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word
                    mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
        </div>
        <div class="row p-b">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <div class="fh5co-post wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.1s">
                    <div class="fh5co-post-image">
                        <div class="fh5co-overlay"></div>
                        <div class="fh5co-category"><a href="#">Tutorial</a></div>
                        <img src="{% static 'images/img_same_dimension_2.jpg' %}" alt="Image"
                             class="img-responsive">
                    </div>
                    <div class="fh5co-post-text">
                        <h3><a href="#">How to Create Cards</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts...</p>
                    </div>
                    <div class="fh5co-post-meta">
                        <a href="#"><i class="icon-chat"></i> 33</a>
                        <a href="#"><i class="icon-clock2"></i> 2 hours ago</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <div class="fh5co-post wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s">
                    <div class="fh5co-post-image">
                        <div class="fh5co-overlay"></div>
                        <div class="fh5co-category"><a href="#">Health</a></div>
                        <img src="{% static 'images/img_same_dimension_3.jpg' %}" alt="Image"
                             class="img-responsive">
                    </div>
                    <div class="fh5co-post-text">
                        <h3><a href="#">Drinking Ginger and Lemon Tea</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts...</p>
                    </div>
                    <div class="fh5co-post-meta">
                        <a href="#"><i class="icon-chat"></i> 33</a>
                        <a href="#"><i class="icon-clock2"></i> 2 hours ago</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <div class="fh5co-post wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.7s">
                    <div class="fh5co-post-image">
                        <div class="fh5co-overlay"></div>
                        <div class="fh5co-category"><a href="#">Tips</a></div>
                        <img src="{% static 'images/img_same_dimension_4.jpg' %}" alt="Image"
                             class="img-responsive">
                    </div>
                    <div class="fh5co-post-text">
                        <h3><a href="#">4 Easy Steps to Create a Soup</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts...</p>
                    </div>
                    <div class="fh5co-post-meta">
                        <a href="#"><i class="icon-chat"></i> 33</a>
                        <a href="#"><i class="icon-clock2"></i> 2 hours ago</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay="2s">
                <a href="#" class="btn btn-primary btn-lg">View All Artists</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
