{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Payment{% endblock %}

{% block content %}

<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/static/img/examples/city.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">Payment</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1" style="padding-bottom: 40px;">
                        <h2>Featured Text</h2>
                        <br/>
                        <p>user_profile.featured_textBecome a member of club 2 by pledging any two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to usBecome a member of club 2 by pledging any
                            two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to usBecome a member of club 2 by pledging any
                            two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to usBecome a member of club 2 by pledging any
                            two digit amount
                            i.e. from Rs. 10 to Rs.
                            99. No matter what
                            amount you choose, it will be greatly helpful to us</p>
                    </div>
                    <div class="col-md-4 col-md-offset-1" style="margin-top: 40px;">
                        <div class="card card-signup">
                            <div class="header header-primary text-center">
                                <h4>Select Payment Method</h4>
                            </div>
                            <div class="content" style="padding-bottom: 10px; padding-top: 10px;">
                                <p style="margin-left: 10px;">Become a member of club 2 by pledging any two digit amount
                                    i.e. from Rs. 10 to Rs.
                                    99. No matter what
                                    amount you choose, it will be greatly helpful to us.</p>
                            </div>
                            <div class="footer text-center">
                                <button class="btn btn-danger btn-lg btn-round" type="submit" value="Submit">
                                    Pay with credit card
                                </button>
                            </div>
                            <div class="footer text-center" style="margin-bottom: 10px;">
                                <button class="btn btn-info btn-lg btn-round" type="submit" value="Submit"
                                        style="padding-left: 55px; padding-right: 55px;">
                                    Pay with paytm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

{% endblock %}