{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Privacy Policy{% endblock %}

{% block content %}

<div class="components-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('https://images.unsplash.com/photo-1461685265823-f8d5d0b08b9b?auto=format&fit=crop&w=1024&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">Privacy Policy</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card card-plain">
                            <div class="content">
                                <br/>
                                <h3>Welcome to Lisplay!</h3>
                                <p>Lisplay is a platform where subscribers can financially support. We care
                                    about your privacy and want to help you understand how we collect, use and share
                                    your personal information. This privacy policy applies to users, visitors,
                                    subscribers and creators of Lisplay, and is part of our
                                    <a href="#"> terms of services</a>.</p>
                                <br/>
                                <h3>Information You Provide</h3>
                                <p>This is information that you provide to us through text fields, such as your name,
                                    payment information, social media links etc. The information we collect is different
                                    depending on if you are an account holder, become a subscriber by supporting a
                                    creator, or become a creator by creating your own Lisplay page.</p>

                                <h5>All Accounts</h5>
                                <p>To create an account on Lisplay you have to provide your:</p>
                                <ol>
                                    <li>Email address</li>
                                    <li>Username</li>
                                    <li>Password</li>
                                </ol>
                                <p>You also have the option to add more information to your profile, such as a location,
                                    social media links, profile picture and an about section, which we store along with
                                    any comments or messages you submit through Lisplay.</p>

                                <h5>Subscribers</h5>
                                <p>A subscriber is someone who financially supports creators through Lisplay. To become
                                    a subscriber you have to provide one of our payment processor (Razorpay) with
                                    your payment information. You can see the privacy policy for Razorpay on their
                                    website. They provide us with a token that represents your account, your card’s
                                    expiration date, card type and the last four digits of your credit card. If you
                                    provide them your name, email address and mobile number then they also provide us
                                    that information.</p>
                                <p>We collect and process information about the creators you support, the level at which
                                    you support them, what rewards you receive and how often you support them.
                                    As a subscriber, if you become eligible for a physical reward, then you have
                                    to provide your shipping information so the creator can ship you the reward.</p>

                                <h5>Creators</h5>
                                <p>A creator is someone who creates a Lisplay page requesting financial support from
                                    subscribers. To become a creator, you must create a page that describes what you are
                                    creating any rewards you are offering. We collect and process this information along
                                    with any additional information you add to your profile. To receive payments you
                                    have to provide us your bank details. You must also provide us with additional
                                    information for tax purposes. Depending on your location you have to fill out a form
                                    with some combination of your:</p>
                                <ol>
                                    <li>Legal Name</li>
                                    <li>Address</li>
                                    <li>ID Proof</li>
                                    <li>Date of birth</li>
                                    <li>Country of citizenship</li>
                                    <li>Tax identification number</li>
                                </ol>
                                <br/>
                                <h3>Information We Collect</h3>
                                <p>We collect information automatically as you navigate the site or through our third
                                    party analytics providers. We may store usage information such as the type of device
                                    you use to access Lisplay, your operating system, browser type, IP address, and
                                    device ID, the pages you visit or request, links clicked, referring sites, user
                                    interactions and your search terms. We also derive your location from your IP
                                    address.</p>

                                <h5>Do Not Track</h5>
                                <p>Our service does not support Do Not Track requests at this time, which means our
                                    third party analytics providers may associate your usage on Lisplay with your usage
                                    on other sites.</p>

                                <h5>Cookies</h5>
                                <p>We use third-party advertising cookies to present you with opportunities while on
                                    Lisplay. We also use retargeting cookies to present you with Lisplay advertising on
                                    other websites.
                                    We use Google Analytics cookies to see how
                                    you use Lisplay so we can improve in a variety of ways. We encourage you to read the
                                    <a href="https://www.google.com/policies/privacy/">Google privacy policy</a>.
                                    If you prefer to not have data reported by Google Analytics, you can install the
                                    <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-out Browser
                                        Add-on</a>.</p>
                                <p>While we try to keep this list up to date, we often experiment with new third party
                                    analytics providers, and this list may not be exhaustive.</p>
                                <br/>
                                <h3>How We Use Your Information</h3>
                                <p>We never sell your information to anyone. We use your information to:</p>
                                <ol>
                                    <li>Provide our services to you.</li>
                                    <li>Allow you to sign in to your account.</li>
                                    <li>Allow you to support creators through Lisplay.</li>
                                    <li>Allow you to collect money as a creator.</li>
                                    <li>Send you emails relevant to your usage.</li>
                                    <li>Reply to your queries.</li>
                                    <li>Understand how you use the service and market Lisplay to you, including
                                        suggesting creators you may be interested in supporting.
                                    </li>
                                    <li>Create better tools for creators to serve subscribers.</li>
                                    <li>Conduct research and development to improve Lisplay and develop future products
                                        that our users may be interested in by analyzing how you use it.
                                    </li>
                                    <li>Prevent fraud and abuse on Lisplay</li>
                                </ol>
                                <br/>
                                <h3>Information Shared with Creators</h3>
                                <p>If you are a subscriber, the following information is shared with the creators you
                                    support:</p>
                                <ol>
                                    <li>All information about your pledge, including amount and start date.</li>
                                    <li>Your name, email address, mobile number and other profile information.</li>
                                    <li>Your address if creators want to send you something that requires shipping.</li>
                                    <li>Some information about how you use Lisplay. This is aggregated or anonymized so
                                        that it cannot be linked back to any individual user.
                                    </li>
                                </ol>
                                <br/>
                                <h3>Information Shared with Third Parties</h3>
                                <p>Personally Identifiable Information (PII) is data that includes a personal identifier
                                    like your name, email or address, or data that could reasonably be linked back to
                                    you. We will only share this data under the following circumstances:</p>
                                <ol>
                                    <li>With your permission, with creators or services used by creators to contact you
                                        or deliver something.
                                    </li>
                                    <li>With companies that are contractually engaged in providing us with services,
                                        such as email management, analyzing data trends, credit card
                                        processing and fraud detection and prevention. These companies may have access
                                        to personal information to perform their services and are obligated by contract
                                        to safeguard any PII they receive from us.
                                    </li>
                                    <li>If we believe that disclosure is reasonably necessary to comply with a law,
                                        regulation, valid legal process (e.g., subpoenas or warrants served on us), to
                                        protect the security or integrity of Lisplay, and to protect the rights,
                                        property, or safety of Lisplay, its employees, users, or others. If we are going
                                        to release your data, we will do our best to provide you with notice in advance
                                        by email, unless we are prohibited by law from doing so.
                                    </li>
                                    <li>We may disclose or transfer your data in connection with the sale, merger,
                                        bankruptcy, sale of assets or reorganization of our company. We will notify you
                                        if a different company receives your PII. The promises in this privacy policy
                                        apply to any data transferred to a new entity.
                                    </li>
                                </ol>
                                <br/>
                                <h3>Information Shared with the Public</h3>
                                <p>The following information is publicly accessible:</p>
                                <ol>
                                    <li>Your profile, and your social media links and location if you add that
                                        information.
                                    </li>
                                    <li>The creators you support but only with your permission.</li>
                                    <li>We may share aggregated or anonymized usage data in blog posts, press releases,
                                        or in other ways to share information about Lisplay’s usage. Aggregated or
                                        anonymized data cannot be linked back to any individual Lisplay user.
                                    </li>
                                </ol>
                                <br/>
                                <h3>Your Choices</h3>
                                <h5>Settings</h5>
                                <p>You can modify or delete certain information associated with your account on the
                                    settings pages.</p>
                                <h5>Disable Account</h5>
                                <p>You can remove your public facing information by emailing
                                    <a href="mailto:support@lisplay.com?Subject=Creator Invite">support@lisplay.com</a>
                                    to have your account disabled and removed from public view. When we disable an
                                    account we remove your password information and profile image from the database, but
                                    if you wish to delete any other information permanently you should change it prior
                                    to disabling the account.</p>
                                <p>Even if an account is disabled, all information may be retained by our analytics
                                    providers on their own servers.</p>
                                <h5>Emails</h5>
                                <p>You can change which emails you receive through your email settings. While this
                                    removes most emails, some service related emails are still sent.</p>
                                <br/>
                                <h3>Security</h3>
                                <p>The security of your personal information is important to us and we follow industry
                                    standards to protect it. Full credit card numbers are never accessed by our
                                    system.</p>
                                <br/>
                                <h3>Children</h3>
                                <p>Lisplay is not directed at children under the age of 13, and they may not create an
                                    account or otherwise use Lisplay.</p>
                                <br/>
                                <h3>Changes</h3>
                                <p>We may sometimes make changes to this policy. If we make material changes that
                                    adversely affect your rights under this policy, we will let you know by posting an
                                    announcement on the site or sending you an email prior to the changes coming into
                                    effect. Continuing to use Lisplay after a change to this policy means you accept the
                                    new policy.</p>
                                <p>If you have any questions, please email us at
                                    <a href="mailto:support@lisplay.com?Subject=Creator Invite">support@lisplay.com</a>
                                </p>
                                <p>Effective November 1st, 2017. Last updated on December 4th, 2017</p>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}