{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Profile{% endblock %}

{% block content %}

<div class="profile-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('{{ user_profile.featured_image.url }}'); background-position: center center;"></div>
        {% if error %}
        <div data-notify="container"
             class="col-xs-11 col-sm-4 alert alert-danger alert-with-icon animated fadeInDown"
             role="alert" data-notify-position="top-right"
             style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out; z-index: 1031; top: 20px; right: 20px;">
            <button type="button" class="close" aria-hidden="true" data-notify="dismiss"
                    data-dismiss="alert" aria-label="Close"
                    style="position: absolute; right: 10px; top: 50%; margin-top: -13px; z-index: 1033;">
                <i class="fa fa-close"></i>
            </button>
            <div class="alert-icon">
                <i data-notify="icon" class="fa fa-warning"></i>
            </div>
            <!--<span data-notify="title"></span>-->
            <span data-notify="message">{{ error }}</span>
        </div>
        {% endif %}

        {% if message %}
        <div data-notify="container"
             class="col-xs-11 col-sm-4 alert alert-info alert-with-icon animated fadeInDown"
             role="alert" data-notify-position="top-right"
             style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out; z-index: 1031; top: 20px; right: 20px;">
            <button type="button" class="close" aria-hidden="true" data-notify="dismiss"
                    data-dismiss="alert" aria-label="Close"
                    style="position: absolute; right: 10px; top: 50%; margin-top: -13px; z-index: 1033;">
                <i class="fa fa-close"></i>
            </button>
            <div class="alert-icon">
                <i data-notify="icon" class="fa fa-check"></i>
            </div>
            <!--<span data-notify="title"></span>-->
            <span data-notify="message">{{ message }}</span>
        </div>
        {% endif %}

        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="profile">
                            <div class="avatar">
                                <a href="{{ user_profile.picture.url }}" target="_blank">
                                    <img style="min-height:160px; min-width:160px;"
                                         src="{{ user_profile.thumbnail.url }}"
                                         alt="{{ user_profile.username }}" class="img-circle img-responsive img-raised">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    {% ifequal user.username user_profile.username %}
                    <div class="col-xs-2">
                        <a href="{% url 'update_profile' %}">
                            <button class="btn btn-fab btn-primary" rel="tooltip" title=""
                                    data-original-title="Edit profile" style="margin-top: -1.1em;">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>
                    </div>
                    {% endifequal %}
                    {% endif %}
                </div>
                <!--<div class="description text-center">-->
                <!--<p>{{ user_profile.profile_description }}</p>-->
                <!--</div>-->
                <br/>
                <div class="name nav-align-center">
                    <h3 class="title" style="margin-bottom:0em; margin-top:1em;">
                        {{ user_profile.first_name }}</h3>
                    <p class="text-muted">{{ "@"|add:user_profile.username }}</p>
                    <h6 style="margin-top:20px;">{{ user_profile.short_bio }}</h6>
                </div>
                <div class="nav-align-center">
                    {% if user_profile.social_links|get_value:'facebook_link' %}
                    <a href="{{ user_profile.social_links|get_value:'facebook_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-facebook"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'twitter_link' %}
                    <a href="{{ user_profile.social_links|get_value:'twitter_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-twitter"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'instagram_link' %}
                    <a href="{{ user_profile.social_links|get_value:'instagram_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-instagram"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'youtube_link' %}
                    <a href="{{ user_profile.social_links|get_value:'youtube_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon">
                        <i class="fa fa-youtube-play"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'soundcloud_link' %}
                    <a href="{{ user_profile.social_links|get_value:'soundcloud_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-soundcloud"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'linkedin_link' %}
                    <a href="{{ user_profile.social_links|get_value:'linkedin_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-linkedin"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'github_link' %}
                    <a href="{{ user_profile.social_links|get_value:'github_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-github"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'blog_link' %}
                    <a href="{{ user_profile.social_links|get_value:'blog_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-rss"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'website_link' %}
                    <a href="{{ user_profile.social_links|get_value:'website_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-globe"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'playstore_link' %}
                    <a href="{{ user_profile.social_links|get_value:'playstore_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-android"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'appstore_link' %}
                    <a href="{{ user_profile.social_links|get_value:'appstore_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-apple"></i></a>
                    {% endif %}
                    {% if user_profile.social_links|get_value:'other_link' %}
                    <a href="{{ user_profile.social_links|get_value:'other_link' }}"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-star"></i></a>
                    {% endif %}
                    <br/>
                    <br/>
                    <hr/>
                </div>
                {% if user.is_authenticated %}
                {% ifequal user.username user_profile.username %}
                <div class="section text-center" style="background-color:#eee;">
                    {% if subscribed_to.exists %}
                    <h3>CREATORS YOU ARE SUPPORTING</h3>
                    <div class="team">
                        <div class="row">
                            {% if subscribed_to|length == 1 %}
                            {% for subscription in subscribed_to %}
                            <div class="col-md-4 col-md-offset-4" style="margin-top:1em; margin-bottom:1em;">
                                <div class="team-player">
                                    <a href="{% url 'show_user_profile' subscription.creator.username %}">
                                        <img src="{{ subscription.creator.thumbnail.url }}" alt="Thumbnail Image"
                                             class="img-raised img-circle">
                                    </a>
                                    <h4 class="title">{{ subscription.creator.first_name }}
                                        <br/>
                                        <small class="text-muted">&#8377;{{ subscription.amount }} per month</small>
                                        <br/>
                                        <small class="description">
                                            From: {{ subscription.created_at|date:"M d, o" }}
                                        </small>
                                    </h4>
                                    <form class="form" method="post" action=".">
                                        {% csrf_token %}
                                        <div class="footer text-center">
                                            <button class="btn btn-white btn-round btn-xs" name="subscription_id"
                                                    type="submit" value="{{ subscription.subscription_id }}">
                                                Cancel Subscription
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            {% for subscription in subscribed_to %}
                            <div class="col-md-4" style="margin-top:1em; margin-bottom:1em;">
                                <div class="team-player">
                                    <a href="{% url 'show_user_profile' subscription.creator.username %}">
                                        <img src="{{ subscription.creator.thumbnail.url }}" alt="Thumbnail Image"
                                             class="img-raised img-circle">
                                    </a>
                                    <h4 class="title">{{ subscription.creator.first_name }}
                                        <br/>
                                        <small class="text-muted">&#8377;{{ subscription.amount }} per month</small>
                                        <br/>
                                        <small class="description">
                                            From: {{ subscription.created_at|date:"M d, o" }}
                                        </small>
                                    </h4>
                                    <form class="form" method="post" action=".">
                                        {% csrf_token %}
                                        <div class="footer text-center">
                                            <button class="btn btn-white btn-round btn-xs" name="subscription_id"
                                                    type="submit" value="{{ subscription.subscription_id }}">
                                                Cancel Subscription
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <h3>You're not supporting any creators yet.
                        <a href="{% url 'explore_creators' 'all' %}"> Explore creators.</a>
                    </h3>
                    {% endif %}
                </div>
                <hr/>
                {% endifequal %}
                {% endif %}

                {% if user_profile.is_creator %}

                <div class="section text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3 class="title">ABOUT {{ user_profile.first_name|upper }}</h3>
                            <h5 class="description">Learn about {{ user_profile.first_name }} and how you can help.</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="margin-left: 1em; margin-right: 1em; margin-top: 1em; margin-bottom: 1em;">
                        <div class="video-container">
                            <iframe width="500" height="280" align="left" style="margin-right: 2em; margin-bottom: 2em;"
                                    src="{{ user_profile.featured_video }}" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div style="margin-left: 1em; margin-right: 1em; margin-top: 1em; margin-bottom: 1em;">
                        <p style="white-space: pre-line">{{ user_profile.profile_description }}</p>
                    </div>
                </div>
                <br/>
                <hr/>
                <div class="section text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3 class="title">BECOME A MEMBER</h3>
                            <h5 class="description">Support {{ user_profile.first_name }} by subscribing and joining the
                                membership program.</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="profile-tabs col-md-6 col-sm-6">
                        <div class="nav-align-center">
                            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                <li>
                                    <a href="#club2" role="tab" data-toggle="tab">
                                        <i class="fa fa-coffee"></i>
                                        Club 2
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#club3" role="tab" data-toggle="tab">
                                        <i class="fa fa-heart"></i>
                                        Club 3
                                    </a>
                                </li>
                                <li>
                                    <a href="#club4" role="tab" data-toggle="tab">
                                        <i class="fa fa-glass"></i>
                                        Club 4
                                    </a>
                                </li>
                            </ul>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane" id="club2">
                                <div class="col-md-8 col-md-offset-2 col-sm-12"
                                     style="margin-bottom: 2em;">
                                    <form class="form" method="post" action=".">
                                        {% csrf_token %}
                                        <div class="card card-signup">
                                            <div class="header header-success text-center">
                                                <h4>Club 2</h4>
                                            </div>
                                            <div class="content">
                                                <p style="margin-left: 30px;">Become a member of Club 2 by pledging
                                                    anything from Rs. 10 to 99 to your favourite creator. It's just like
                                                    buying them a cup of tea or coffee once in a while.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input type="number" name="amount" id="id_club2_amount"
                                                           class="form-control" min="10" max="99"
                                                           placeholder="Your favorite 2 digit number"
                                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                           required>
                                                </div>
                                            </div>
                                            <div class="footer text-center">
                                                <button class="btn btn-simple btn-primary btn-lg" type="submit"
                                                        value="Submit">
                                                    Continue
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% if user_profile.club_2_reward %}
                                <div class="col-md-8 col-md-offset-2"
                                     style="padding-left: 1em; padding-right: 1em;">
                                    <h4>Reward for Club 2 members:</h4>
                                    <p class="text-muted">
                                        {{ user_profile.club_2_reward }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane active" id="club3">
                                <div class="col-md-8 col-md-offset-2 col-sm-12"
                                     style="margin-bottom: 2em;">
                                    <form class="form" method="post" action=".">
                                        {% csrf_token %}
                                        <div class="card card-signup">
                                            <div class="header header-danger text-center">
                                                <h4>Club 3</h4>
                                            </div>
                                            <div class="content">
                                                <p style="margin-left: 30px;">Become a member of Club 3 by pledging
                                                    anything from Rs. 100 to 999 to your favourite creator. It's just
                                                    like sharing pizza with them once a month, with extra love.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input type="number" name="amount" id="id_club3_amount"
                                                           class="form-control" min="100" max="999"
                                                           placeholder="Your favorite 3 digit number"
                                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                           required>
                                                </div>
                                            </div>
                                            <div class="footer text-center">
                                                <button class="btn btn-simple btn-primary btn-lg" type="submit"
                                                        value="Submit">
                                                    Continue
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% if user_profile.club_3_reward %}
                                <div class="col-md-8 col-md-offset-2"
                                     style="padding-left: 1em; padding-right: 1em;">
                                    <h4>Reward for Club 3 members:</h4>
                                    <p class="text-muted">
                                        {{ user_profile.club_3_reward }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="club4">
                                <div class="col-md-8 col-md-offset-2 col-sm-12"
                                     style="margin-bottom: 2em;">
                                    <form class="form" method="post" action=".">
                                        {% csrf_token %}
                                        <div class="card card-signup">
                                            <div class="header header-info text-center">
                                                <h4>Club 4</h4>
                                            </div>
                                            <div class="content">
                                                <p style="margin-left: 30px;">Become a member of Club 4 by pledging
                                                    anything from Rs. 1000 to 9999 to your favourite creator. It'll be
                                                    like buying them a fancy dinner with a fine glass of wine.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input type="number" name="amount" id="id_club4_amount"
                                                           class="form-control" min="1000" max="9999"
                                                           placeholder="Your favorite 4 digit number"
                                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                           required>
                                                </div>
                                            </div>
                                            <div class="footer text-center">
                                                <button class="btn btn-simple btn-primary btn-lg" type="submit"
                                                        value="Submit">
                                                    Continue
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% if user_profile.club_4_reward %}
                                <div class="col-md-8 col-md-offset-2"
                                     style="padding-left: 1em; padding-right: 1em;">
                                    <h4>Reward for Club 4 members:</h4>
                                    <p class="text-muted">
                                        {{ user_profile.club_4_reward }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 col-sm-6" style="margin-top: 4em;">
                        <img src="{% static 'img/app_coming_soon.png' %}" alt="Circle Image"
                             class="img-responsive">
                    </div>

                </div>
                <br/>
                <br/>

                {% elif user.username == user_profile.username %}
                <h4 class="text-center">Are you a creator yourself?</h4>
                <a href="{% url 'creator_details' %}">
                    <p class="text-center">Register here for free and start earning!</p></a>
                {% else %}
                <h4 class="text-center">This is not creator a profile!</h4>
                <p class="description text-center" style="margin-top:0;">If you still want to pledge to this profile,
                    please let us know.</p>
                <div class="nav-align-center">
                    <a href="https://facebook.com/lisplay"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-facebook"></i></a>
                    <a href="htts://twitter.com/lisplayon"
                       target="_blank" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-twitter"></i></a>
                    <a href="mailto:support@lisplay.com?Subject=Hello%20there!"
                       target="_top" class="btn btn-simple btn-just-icon btn-default">
                        <i class="fa fa-envelope"></i></a>
                </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>

{% endblock %}