{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Profile{% endblock %}

{% block content %}

<div class="profile-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/static/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="profile">
                        <div class="avatar">
                            <img src="/media/{{ user_profile.picture }}" alt="Circle Image"
                                 class="img-circle img-responsive img-raised">
                        </div>
                        <div class="name">
                            <h3 class="title">{{ user_profile.full_name }}</h3>
                            <h6>{{ user_profile.short_bio }}</h6>
                        </div>
                        <div>
                            {% if user_profile.social_links|get_item:'facebook_details,facebook_link' %}
                            <a href="{{ user_profile.social_links|get_item:'facebook_details,facebook_link' }}"
                               target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                <i class="fa fa-facebook"></i></a>
                            {% endif %}
                            {% if user_profile.social_links|get_item:'twitter_details,twitter_link' %}
                            <a href="{{ user_profile.social_links|get_item:'twitter_details,twitter_link' }}"
                               target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                <i class="fa fa-twitter"></i></a>
                            {% endif %}
                            {% if user_profile.social_links|get_item:'instagram_details,instagram_link' %}
                            <a href="{{ user_profile.social_links|get_item:'instagram_details,instagram_link' }}"
                               target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                <i class="fa fa-instagram"></i></a>
                            {% endif %}
                            {% if user_profile.social_links|get_item:'youtube_details,youtube_link' %}
                            <a href="{{ user_profile.social_links|get_item:'youtube_details,youtube_link' }}"
                               target="_blank" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-youtube-play"></i></a>
                            {% endif %}
                            {% if user_profile.social_links|get_item:'googleplus_details,googleplus_link' %}
                            <a href="{{ user_profile.social_links|get_item:'googleplus_details,googleplus_link' }}"
                               target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                <i class="fa fa-googleplus"></i></a>
                            {% endif %}
                            {% if user_profile.social_links|get_item:'linkedin_details,linkedin_link' %}
                            <a href="{{ user_profile.social_links|get_item:'linkedin_details,linkedin_link' }}"
                               target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                <i class="fa fa-linkedin"></i></a>
                            {% endif %}
                            {% if user_profile.social_links|get_item:'github_details,github_link' %}
                            <a href="{{ user_profile.social_links|get_item:'github_details,github_link' }}"
                               target="_blank" class="btn btn-simple btn-just-icon btn-default">
                                <i class="fa fa-github"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p>{{ user_profile.profile_description }}</p>
                </div>
                <hr/>
                <div class="row">
                    <div class="nav-align-center">
                        <div class="col-md-6 section text-center">
                            <h3>Featured Video</h3>
                            <div class="video-container">
                                <iframe width="500" height="280"
                                        src="{{ user_profile.featured_video }}" frameborder="0"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="section col-md-2 col-md-offset-2">
                            <h3>Your Gift</h3>
                            <div class="radio">
                                <label> <input type="radio" name="optionsRadios"> 20 Rs. </label>
                            </div>
                            <legend></legend>
                            <div class="radio">
                                <label> <input type="radio" name="optionsRadios" checked="checked"> 50 Rs. </label>
                            </div>
                            <legend></legend>
                            <div class="radio">
                                <label> <input type="radio" name="optionsRadios"> 143 Rs. </label>
                            </div>
                            <legend></legend>
                            <div class="radio">
                                <label> <input type="radio" name="optionsRadios">
                                    <input type="text" name="other_reason" placeholder="Enter amount"/>​
                                </label>
                            </div>
                            <legend></legend>
                            <button class="btn btn-primary btn-raised btn-lg" type="submit" value="Submit">
                                Gift now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}