{% extends "regapp/base.html" %}
{% load staticfiles %}

{% block title %}Lisplay - Update Profile{% endblock %}

{% block content %}

<div class="profile-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/static/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <h1>Welcome!</h1>
                    <h3>Update your profile</h3>
                    <h4>{{ user.username }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}